<ion-content class="ion-padding">
  <ion-list>
      <ion-item>
          <ion-avatar slot="start" *ngIf="profile.imagen!=null">
            <ion-img src="{{ profile.imagen }}"></ion-img>
          </ion-avatar>

          <ion-label class="studentName">{{ profile.nomAlumne }}</ion-label>
      </ion-item>
      <app-personal-data [profile]="profile"></app-personal-data>
      <app-group-data [profile]="profile"></app-group-data>
      <app-contact-data [users]="profile['usuaris']"></app-contact-data>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-button (click)="editProfile()" color="light">
            <ion-icon slot="icon-only" name="create" color="white"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-footer>