<ion-grid>
  <ion-row *ngIf="msg.idUser !== global.idUser">
    <ion-col  size="10" class="message color{{msg.color}}">
        <div >{{ msg.nomUser }} <br> {{ msg.data }} - {{ msg.hora }}</div><br>
         {{ msg.msj }}  
    </ion-col>
  </ion-row>
  <ion-row *ngIf="msg.idUser === global.idUser" >
    <ion-col push="2" size="10" class="message color{{msg.color}}">
      <div >{{ msg.nomUser }} <br> {{ msg.data }} - {{ msg.hora }}</div><br>
         {{ msg.msj }} 
    </ion-col>
  </ion-row>
</ion-grid>
