<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle>Dades personals</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <strong>Primer tutor: </strong><p>{{ profile.tutor1 }}</p>
    <strong>Segon tutor: </strong><p>{{ profile.tutor2 }}</p>
    <br>
    <strong>Direcció: </strong><p>{{ profile.direccio }}</p>
    <strong>Municipi: </strong><p>{{ profile.municipi }}</p>
    <strong>Codi postal: </strong><p>{{ profile.codi_postal }}</p>
  </ion-card-content>
</ion-card>