<app-header></app-header>

<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="top" color="secondary">
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chat-home">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-label>Xat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="information">
        <ion-icon name="information-circle-sharp"></ion-icon>
        <ion-label>Informació</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="documents">
        <ion-icon name="documents"></ion-icon>
        <ion-label>Documentació</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="file">
        <ion-icon name="folder-open-sharp"></ion-icon>
        <ion-label>Expedient</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
